@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');


* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Lexend Deca', sans-serif;
}

:root {
    --white: #fff;
    --whitesmoke: #f9f9ff;
    --light-grey: #ececec;
    --grey: #c4c4c4;
    --medium-grey: #A7A7A7;
    --deep-grey: #343434;
    --black: #000;
    --blue: #1b77f3;
    --red: #cf3c3f;
}


.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: clamp(35px,8%, 70px);
    border: 1px solid red;
}

.login__logo {
    width: 180px;
    margin-bottom: 75px;
    border: 1px solid red;
    display: flex;
    align-items: flex-end;
    
    
}

.login__title {
    color: var(--deep-grey);
    font-size: 1.5em;
    margin-bottom:  50px;
    align-items: center;
    border: 1px solid red;
}

.login__label {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.input {
    width: 100%;
    background: var(--light-grey);
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    outline: none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey)

}

.login__label span {
    position: absolute;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--medium-grey);
    margin: 20px;
    cursor: text;

}

.input:focus {
    background-color: var(--whitesmoke);
    border: 3px solid var(--deep-grey);
}