@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');


* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Lexend Deca', sans-serif;
}

:root {
    --white: #fff;
    --whitesmoke: #f9f9ff;
    --light-grey: #ececec;
    --grey: #c4c4c4;
    --medium-grey: #A7A7A7;
    --deep-grey: #343434;
    --black: #000;
    --blue: #1b77f3;
    --red: #cf3c3f;
}


.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
}

.login_logo {
    width: 300px;
    margin-bottom: 80px;
}

.login_title {
    color: var(--deep-grey);
}